---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Experience from '../components/Experience.astro';
import InstagramIcon from '../components/icons/InstagramIcon.astro'
import DiscordIcon from '../components/icons/DiscordIcon.astro'
import GmailIcon from '../components/icons/GmailIcon.astro'
import SocialPill from '../components/SocialPill.astro';
import BriefcaseIcon from '../components/icons/BriefcaseIcon.astro';
import CodeIcon from '../components/icons/codeIcon.astro';
---

<Layout title="Portfolio de Arnabal - Desarrollador y Programador Web"	 description="Portfolio oficial de Arnabal , programador web con m치s de 4 a침os de experencia. Especializado en crear aplicaciones 칰nicas.">
	<main class="px-4">
		<SectionContainer class ="py-44 pb-32">
		<img class="rounded-full size-12 mb-4" src="https://cdn.discordapp.com/avatars/727902408021114910/a_b22b6adef983d595be0cb8774f5f39c8.gif?size=1024" alt="arnabal photo">
		<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold  flex flex-row gap-x-4 pb-6 lg:pb-10">
			Hey, soy Arnabal <div class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></div></h1>
		<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
			+4 a침os de experencia. <span class="text-yellow-200">Desarollador web</span> de Granada , Espa침a 游쀯릖.
			Especializado en el desarollo de aplicaciones web 칰nicas.
		</h2>
		<nav class="flex gap-x-4 mt-8">
		
				<SocialPill href="https://discord.gg/c8TxKN83Hr">
					<DiscordIcon class="size-4 md:size-6"/>
					Discord
				</SocialPill>
		
		
				<SocialPill href ="https://www.instagram.com/aalejandro_ha/">
					<InstagramIcon class="size-4 md:size-6"/>
					Instagram
				</SocialPill>

				<SocialPill href ="mailto:https://www.instagram.com/aalejandro_ha/">
					<GmailIcon class="size-4 md:size-6"/>
					arnabaldeveloper@gmail.com
				</SocialPill>
		
		</nav>
		</SectionContainer>
		
		<SectionContainer id ="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-7" />
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id ="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>


